package ${package}.controller;

import javax.validation.Valid;

import org.apache.commons.lang3.StringUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.MediaType;
import org.springframework.stereotype.Controller;




import ${package}.domain.${className};
import ${package}.domain.${className}DTO;
import ${package}.domain.${className}Query;
import ${package}.service.${className}Service;


import io.swagger.annotations.ApiImplicitParam;
import io.swagger.annotations.ApiImplicitParams;
import io.swagger.annotations.ApiOperation;
import io.swagger.annotations.ApiParam;

@Controller
public class ${className}Controller {

	@Autowired
	private ${className}Service ${classname}Service;
	
	
    @RequestMapping(value = "/${classname}/{id}", method = RequestMethod.GET, consumes = MediaType.ALL_VALUE)
    public AjaxResult<${className}DTO> get${className}(@ApiParam(value = "ID", required = true) @PathVariable String id) {

        ${className}DO ${classname} = ${classname}Service.get(id);
        
        
        return new AjaxResult<${className}DTO>(BeanMapper.map(${classname},
            BeanMapper.getType(${className}.class), BeanMapper.getType(${className}DTO.class)));
    }
    
  
	
	
}
