package ${package}.repository;

import java.util.List;

import org.apache.ibatis.annotations.Mapper;

import ${package}.domain.${className}DO;
import ${package}.domain.${className}Query;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao {
	
	void save(${className}DO ${classname});
	
	int update(${className}DO ${classname});
	
	int delete(${pk.attrType} ${pk.attrname});
	
	${className}DO get(${pk.attrType} ${pk.attrname});
	
	List<${className}DO> list(${className}Query ${classname}Query);
}
