package ${package}.domain;


import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.ToString;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Getter
@Setter
@NoArgsConstructor
@ToString
public class ${className}Query extends Page {

	private static final long serialVersionUID = 1L;
	
}
