package ${package}.service;

import java.util.List;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;

import ${package}.domain.${className};
import ${package}.domain.${className}Query;
import ${package}.mapper.${className}Mapper;

@Service
@Transactional(readOnly = true)
public class ${className}Service extends
		ServiceImpl<${className}Mapper, ${className}>{

	
	
	public ${className} get(${pk.attrType} ${pk.attrNameLower}){
		return baseMapper.get(${pk.attrNameLower});
	}
	
	public List<${className}> list(${className}Query ${classname}Query){
		return baseMapper.list(${classname}Query);
	}
	
	@Transactional
	public void save(${className} ${classname}){
		baseMapper.save(${classname});
	}
	
	@Transactional
	public boolean update(${className} ${classname}){
		return baseMapper.update(${classname}) > 0 ? true : false;
	}
	
	@Transactional
	public void delete(${pk.attrType} ${pk.attrNameLower}){
		${classname}Dao.delete(${pk.attrNameLower});
	}
	
}
